README/*
DownloadFile/*
Preview/*
New/*
Old_rmskin/*
TODO.txt
*.ai
*.psd
*.lnk
Config/colors/*
@Resources/settings.txt
@Resources/Images/old/*
@Resources/Images/cover.png
@Resources/Images/gradient.png
@Resources/Images/gradient2.png
@Resources/settings.txt
Test/test.ini
Test/DownloadFile/image.jpg
