DownloadFile/*
Old_rmskin/*
New/*
Preview/*
README/*
Test/*
TODO.txt
*.ai
*.psd
*.lnk
@Resources/Images/old/*
@Resources/Images/cover.png
@Resources/Images/gradient.png
@Resources/Images/gradient2.png
@Resources/settings.txt
