<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header" {% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ "" | absolute_url }}/" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
	<nav>
		<a href="#menu"></a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
		{% assign sorted_pages = site.pages | sort:"id" | reverse %}
    {% for page in sorted_pages %}
		  {% if page.layout == "home" %}
		    <li><a href="{{ "" | absolute_url }}/">{{ page.title }}</a></li>
		 	{% endif %}
		{% endfor %}
		{% for page in sorted_pages %}
		  {% if page.layout != "home" %}
		    <li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
		  {% endif %}
		{% endfor %}
	</ul>
	<ul class="actions vertical">
		<li><a href="https://github.com/tterb/PlayMusic/releases/download/v1.2.1/PlayMusic_v1.2.1.rmskin" id="menu_dl" class="button special fit">Download</a></li>
	</ul>
</nav>
